# Django/Python ignores
*.pyc
__pycache__/
db.sqlite3
/media/
/staticfiles/
/.env
.env.*                 # Ignore any environment file variations (e.g., .env.local)

# Virtual environment
venv/

# Node.js (Vite) ignores
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.parcel-cache/
dist/
.vite/

# macOS-specific files
.DS_Store

# IDE/Editor-specific ignores
.vscode/
.idea/                 # For JetBrains IDEs like PyCharm
*.sublime-project
*.sublime-workspace
