Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      MinSize: 1
      MaxSize: 2
      DesiredCapacity: 1
      LaunchTemplate:
        LaunchTemplateSpecification:
          LaunchTemplateId: !Ref AWSEBLaunchTemplate
          Version: !GetAtt AWSEBLaunchTemplate.LatestVersionNumber

  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t3.micro
        ImageId: !Ref AWSEBEc2ImageId
        SecurityGroupIds:
          - !Ref AWSEBSecurityGroup
