@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --white: #fff;
  --Futura: "Futura", sans-serif;
}
.dashboardExpensesContainer {
  width: 264px;
  height: 120px;
  width: 264px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 12px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow-y: hidden;
}
.expensesCardContainerTopSection {
  display: flex;
  column-gap: 12px;
  width: 240px;
  height: 50px;
}

.iconContainer {
  background-color: #ffdad6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  margin: 0;
}
.expensesCardIcon {
  width: 35px;
  height: 35px;
  margin-left: -2px;
  box-sizing: border-box;
}

.expensesCardTextContainer {
  width: 116px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.expensesCardSupportingText {
  width: 116px;
  height: 14px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 300;
  font-family: var(--Futura);
  margin: 0;
  padding: 0;
}
.expensesCardMainText {
  font-family: var(--Futura);
  width: 116px;
  height: 32px;
  font-size: 24px;
  font-weight: 400;
  color: #410002;
  margin: 0;
  padding: 0;
}
.expensesCardPercentageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  align-self: flex-end;
  margin-bottom: 5px;
  margin-left: -10px;
}
.expensesCardPercentage {
  width: 27px;
  height: 11px;
  border-radius: 50px;
  color: #410002;
  font-size: 8px;
  font-family: var(--Futura);
  border: 1px solid #410002;
  padding: 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expensesCardArrowDown {
  width: 14px;
  height: 14px;
  object-fit: cover;
}

.expensesCardContainerBottomSection {
  width: 264px;
  height: 30px;
  border-radius: 0px 0px 16px 16px;
  background-color: rgba(60, 60, 60, 0.1);
  margin-left: -12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 22px;
}
.expensesCardViewMore {
  font-family: var(--Futura);
  font-weight: 100;
  font-size: 12px;
  color: #0066ff;
  cursor: pointer;
  background-color: none;
  padding-right: 12px;
}
.expensesCardViewMore:hover {
  font-weight: 300;
  text-decoration: underline;
}
