.dashboardPageContainer {
  background-color: #f9f9ff;
}
.welcomeBoardAndReminderBoardContainer {
  display: flex;
  column-gap: 24px;
}
.welcomeBoardAndReveueAndExpensesCardsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 0;
  padding: 0;
}
.revenueAndExpensesContainer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  column-gap: 24px;
}
