.dashboardPageContainer {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: #f9f9ff;
  display: flex;
  column-gap: 52px;
}
.dashboardPageRightSideContainer {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.welcomeBoardAndReminderBoardContainer {
  display: flex;
  column-gap: 24px;
  margin-top: 56px;
}
.welcomeBoardAndReveueAndExpensesCardsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 0;
  padding: 0;
}
.revenueAndExpensesContainer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  column-gap: 24px;
}
