@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaNormal";
  src: url("../fonts/FuturaNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --white: #fff;
  --Futura: "Futura", sans-serif;
  --FuturaNormal: "FuturaNormal", sans-serif;
}
.signupPageContainer {
  background-color: #f9f9ff;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signupPageHeading {
  font-family: var(--Futura);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}
.signupForm {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.signupInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.signupLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--FuturaNormal);
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.signupInput {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  outline: none;
  background-color: #ffffff00;
  border-radius: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  font-size: 16px;
}
.lowerInputLabel {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--FuturaNormal);
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
.signupFormButton {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #bcebee;
  font-family: var(--Futura);
  font-size: 16px;
  color: #002022;
  cursor: pointer;
}
.fileInputContainer {
  position: relative;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  font-family: var(--Futura);
}

.fileInput {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.fileInputButton {
  display: block;
  width: 100%;
  padding: 12px 0px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #666;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.fileInputButton:hover {
  border-color: #999;
  color: #333;
}

.fileInputButton::before {
  content: "Choose Profile Picture";
  display: inline-block;
}

/* Hide the 'No file chosen' text */
.fileInput::-webkit-file-upload-button {
  visibility: hidden;
}

.fileInput::before {
  content: "";
  display: none;
}

/* Selected filename display */
.fileInput-button.has-file::before {
  content: attr(data-file-name);
  color: #2196f3; /* Or any color you prefer */
  font-weight: 500;
}

/* Hide the 'No file chosen' text */
.fileInput::-webkit-file-upload-button {
  visibility: hidden;
}

.fileInput::before {
  content: "";
  display: none;
}
.fileUploadedText {
  font-family: var(--Futura);
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 4px;
}
.fileNotUploaded {
  display: none;
}
.loginRedirectContainer {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid black;
  column-gap: 32px;
  color: #000;
  font-family: var(--FuturaNormal);
  font-size: 14px;
  cursor: pointer;
  margin-top: 12px;
}
.loginRedirect {
  color: #002022;
}
.loginRedirect:hover {
  text-decoration: underline;
  font-weight: 700;
}
